/Group5_Assignment2/Ass02Solution/.vs/Ass02Solution/DesignTimeBuild/.dtbcache.v2
*.vsidx
/Group5_Assignment2/Ass02Solution/.vs/Ass02Solution/FileContentIndex/1facff8f-280b-4bc2-8694-5fefbde677ec.vsidx
/Group5_Assignment2/Ass02Solution/.vs/Ass02Solution/FileContentIndex/467c8e01-f00b-406e-8ed8-003e681974fc.vsidx
/Group5_Assignment2/Ass02Solution/.vs/Ass02Solution/v17/.suo
/Group5_Assignment2/Ass02Solution/BusinessObject/bin/Debug/net6.0
/Group5_Assignment2/Ass02Solution/BusinessObject/obj/BusinessObject.csproj.nuget.dgspec.json
/Group5_Assignment2/Ass02Solution/BusinessObject/obj/BusinessObject.csproj.nuget.g.props
/Group5_Assignment2/Ass02Solution/BusinessObject/obj/project.assets.json
/Group5_Assignment2/Ass02Solution/BusinessObject/obj/project.nuget.cache
/Group5_Assignment2/Ass02Solution/Repository/bin/Debug/net6.0
/Group5_Assignment2/Ass02Solution/Repository/obj/project.assets.json
/Group5_Assignment2/Ass02Solution/Repository/obj/project.nuget.cache
/Group5_Assignment2/Ass02Solution/Repository/obj/Repository.csproj.nuget.dgspec.json
/Group5_Assignment2/Ass02Solution/Repository/obj/Repository.csproj.nuget.g.props
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/bin/Debug/net6.0
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/EStoreRazorPagesApp.csproj.nuget.dgspec.json
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/EStoreRazorPagesApp.csproj.nuget.g.props
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/project.assets.json
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/project.nuget.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/ref
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/refint
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/scopedcss
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/staticwebassets
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/apphost.exe
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.AssemblyInfo.cs
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.AssemblyInfoInputs.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.assets.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.csproj.AssemblyReference.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.csproj.BuildWithSkipAnalyzers
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.csproj.CopyComplete
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.csproj.CoreCompileInputs.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.csproj.FileListAbsolute.txt
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.dll
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.GeneratedMSBuildEditorConfig.editorconfig
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.genruntimeconfig.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.MvcApplicationPartsAssemblyInfo.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.pdb
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.RazorAssemblyInfo.cache
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.RazorAssemblyInfo.cs
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/EStoreRazorPagesApp.sourcelink.json
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/project.razor.vs.bin
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/staticwebassets.build.json
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/staticwebassets.development.json
/Group5_Assignment2/Ass02Solution/SalesRazorPagesApp/obj/Debug/net6.0/staticwebassets.pack.json
